@import url(../node_modules/normalize.css/normalize.css);

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body,
.root {
	max-height: max-content;
	height: 100%;
}

.root {
	padding: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 18px;
	color: #474955;
}

button {
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

@media (max-width: 360px) {
	body {
		font-size: 12px;
		line-height: 17px;
	}
}
